.box {
  margin-bottom: 20px;
}

label, li {
  text-transform: capitalize;
}

.box div span {
  cursor: pointer;
  padding-bottom: 0;
}
.box div span:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  padding-bottom: 3px;
}

.item-message {
  padding-left: 3px;
  padding-top: 5px;
  display: inline-block;
}

a.remove {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0 5px;
  border-radius: 5px;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  background: #505050;
  color: rgba(255, 255, 255, 0.5);
  transition: background .3s;
  position: relative;
  width: 17px;
  height: 17px;
  vertical-align: middle;
}
a.remove:hover {
  text-decoration: none;
  background: #882727;
  color: rgba(255, 255, 255, 0.8);
}
a.remove:before {
  content: '\2013';
  position: absolute;
  top: 6px;
  left: 2px;
  font-size: 120%;
  line-height: 0;
}

.item-form input {
  vertical-align: middle;
  height: 32px;
  padding-right: 39px;
}
.item-form button {
  height: 23px;
  width: 23px;
  margin-left: -38px;
  text-align: center;
  padding: 0;
  position: relative;
}
.item-form button:before {
  content: '+';
  position: absolute;
  font-size: 150%;
  top: 11px;
  left: 5px;
  line-height: 0;
}
